@page
@model RoskildeStudentHousing.Pages.SharedClass.LeasingStudentsModel
@{
    ViewData["Title"] = "GetLeasingBy";
}

<h4 style="color:red">Find Information about Leasings</h4>

<div class="row">
    <div class="col-4"><h5>Search Student Id</h5></div>
    <div class="col-4"><h5>Search Dorm Name</h5></div>
    <div class="col-4"><h5>Search Room w/ Dorm Name</h5></div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <input asp-for="@Model.SearchString" class="form-control mr-1" placeholder="Enter Student Id" />
            <input type="submit" asp-page-handler="IdSearch" value="See All" class="btn btn-primary" />
        </form>        
    </div>   
    <div class="col-4">
        <form method="post" class="form-inline">
            <input asp-for="@Model.SearchStringDorm" class="form-control mr-1" placeholder="Dorm Name" />
            <input type="submit" asp-page-handler="DormSearch" value="Select Dorm" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-4">
        <form method="post" class="form-inline">
            <input asp-for="@Model.SearchStringDorm2" class="form-control mr-1" placeholder="Dorm Name" />
            <input asp-for="@Model.SearchStringRid" class="form-control mr-1" placeholder="Room No." />
            <input type="submit" asp-page-handler="RoomSearch" value="Search Room" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-4">
        <form method="post" class="form-inline">
            <input asp-for="@Model.DateFrom" type="datetime-local" />
            <input asp-for="@Model.DateTo" type="datetime-local" />
            <input type="submit" asp-page-handler="DateSearch" value="Search Dates" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-4">
        <form method="post" class="form-inline">
            <input type="submit" asp-page-handler="Reset" value="Reset" class="btn btn-primary" />
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Student number
            </th>
            <th>
                Student Name
            </th>
            <th>
                Leasing number
            </th>
            <th>
                Leasing date start
            </th>
            <th>
                Leasing date end
            </th>           
            <th>
                Room number
            </th>
            <th>
                Room Type
            </th>
            <th>
                Dormitory Name
            </th>
            <th>
                Dormitory Address
            </th>
            <th>
                Price Per Month
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.leasing != null)
        {
            @foreach (var leasing in Model.leasing)
            {
                <tr>
                    <td>
                        @leasing.StudentId    
                    </td>
                    <td>
                        @leasing.StudentName               
                    </td>
                    <td>
                        @leasing.LeasingId      
                    </td>
                    <td>
                        @leasing.DateFrom       
                    </td>
                    <td>
                        @leasing.DateTo  
                    </td>
                    <td>
                        @leasing.RoomId 
                    </td>
                    <td>
                        @leasing.RoomType 
                    </td>
                    <td>
                        @leasing.DormName 
                    </td>
                    <td>
                        @leasing.Address 
                    </td>
                    <td>
                        @leasing.Price ,-
                    </td>
                </tr>
            }
        }
    </tbody>
</table>