@page 
@model RoskildeStudentHousing.Pages.Student.DeleteStudentModel
@{
}
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><small class="text-muted">@Model.student.StudentNo</small>@Model.student.StudentNo</h5>
                <a type="button" class="close" asp-page="UserStories">&times;</a>
            </div>
            <div class="modal-body">
                <p><b>ID:</b> @Model.student.StudentNo</p>
                <p><b>Name:</b> @Model.student.Name</p>
                <p><b>Address:</b> @Model.student.Address</p>
                
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" asp-page="GetAllStudents">Close</a>
            </div>
        </div>
    </div>
</div>





@section Scripts
{
    <script>
        $(document).ready(function(){
            $("#myModal").modal({ backdrop: "static"});
            $("#myModal").modal('show')
        })
    </script>
}